/* faq.css */

.faq-heading-col {
  margin-bottom: 2rem;
  text-align: left;
}
.images-faq {
  height: 18rem !important;
}
.frequently {
  font-size: 2rem;
  font-weight: 600;
  color: #01257d; /* Navy Blue Heading */
  margin-bottom: 1rem;
  line-height: 1.2;
}

.frequently .span {
  color: #00ffff; /* Aqua Highlight */
}

.faq-item {
  border: 1px solid #00ffff;
  border-radius: 2rem;
  margin-bottom: 1rem;
  background-color: #ffffff;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(1, 37, 125, 0.1);
}

.faq-item:hover {
  border-color: #01257d;
  box-shadow: 0 6px 12px rgba(0, 255, 255, 0.2);
}

.faq-question {
  padding: 1rem 1.5rem;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #01257d;
}

.faq-question:hover {
  background-color: none;
}

.faq-toggle-icon {
  font-size: 1rem;
  color: #00ffff;
  transition: transform 0.2s ease;
}

.faq-answer {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  color: #333;
  border-top: 1px solid #00ffff;
  background-color: none;
  line-height: 1.6;
}

@media (max-width: 425px) {

.images-faq {
  height: 10rem !important;
}
}