.landingdes-container {
    max-width: 1200px;
    margin: 5rem auto 0 auto;
    padding: 20px;
  }
  
  .landingdes-main-heading {
    color: #01257d !important;
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 15px;
  }
  
  .landingdes-sub-heading {
    color: #6a7b9b !important;
    font-size: 1.2rem;
    margin-bottom: 40px;
    font-weight: normal;
  }
  
  .landingdes-section {
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;
    gap: 40px;
  }
  
  .landingdes-text {
    flex: 1;
  }
  
  .landingdes-text h2 {
    color: #01257d !important;
    font-size: 1.8rem;
    margin-bottom: 20px;
        text-align: left;

  }
  
  .landingdes-text p {
    color: #555;
    line-height: 1.6;
    font-size: 1.1rem;
    text-align: left;
  }
  
  .landingdes-image {
    flex: 1;
  }
  
  .landingdes-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .landingdes-image-left {
    flex-direction: row-reverse;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .landingdes-section,
    .landingdes-image-left {
      flex-direction: column;
    }
  
    .landingdes-text h2 {
      font-size: 1.5rem;
    }
  
    .landingdes-text p {
      font-size: 1rem;
    }
  
    .landingdes-image {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .landingdes-image img {
      width: 90%; /* adjust as needed */
      height: auto;
    }
  }
  
  