.popular-products-container {
  padding: 20px;
  margin-top: 2rem;
  padding-bottom: 3rem;
}

.product-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Additional styles for better look */
.product-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.image-popular {
  width: 5rem;
  height: auto;
}
.product-item div h3 {
  font-weight: 900;
  color: #ffa015;
}
.popular-text {
  text-align: center;
  background-color: rgba(
    207,
    205,
    204,
    0.5
  ); /* Last value is opacity for background only */
}
@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes glowPulse {
  0%,
  100% {
    box-shadow: 0 0 15px rgba(255, 165, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 30px rgba(255, 165, 0, 0.8);
  }
}

.popular-text h3 {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(270deg, #fcd34d, #f97316, #fcd34d);
  background-size: 600% 600%;
  animation: gradientFlow 6s ease infinite, glowPulse 2.5s ease-in-out infinite;
  color: black;
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
  padding: 1rem 3rem;
  border-radius: 60%;
  margin: 3rem auto;
  display: inline-block;
  position: relative;
  overflow: hidden;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.popular-text h3::before,
.popular-text h3::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  left: 20%;
  opacity: 0.6;
}

.popular-text h3::before {
  top: 0;
}

.popular-text h3::after {
  bottom: 0;
}
