@font-face {
  font-family: "JustSans";
  src: url("./fonts/JUST\ Sans\ Regular.woff2") format("woff2"),
    url("./fonts/JUST\ Sans\ Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JustSans";
  src: url("./fonts/JUST\ Sans\ Bold.woff2") format("woff2"),
    url("./fonts/JUST\ Sans\ Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
