.search-form-wrapper {
  padding: 80px;
  background-color: #f7fafc;
  color: #000;
  min-height: 100vh;
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
  /* align-items: flex-start; */
}

.search-box-elite {
  padding: 40px 30px;
  background-color: #f7fafc;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(1, 37, 125, 0.3);
  /* border: 1px solid #01257d; */
  width: 100%;
  max-width: auto;
  transition: 0.3s ease;
}

.search-box-elite:hover {
  box-shadow: 0 15px 60px rgba(0, 255, 255, 0.4);
  transform: translateY(-5px);
}

.search-title {
  color: #01257d !important;
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
}

.search-input {
  margin-bottom: 20px;
  background-color: #fff;
  color: #000;
  border: 2px solid #01257d;
  border-radius: 10px;
  transition: 0.3s ease;
}

.search-input:hover,
.search-input:focus-within {
  box-shadow: 0 0 8px rgba(0, 255, 255, 0.5);
  border-color: #00ffff;
}

.search-input input {
  background-color: transparent;
  color: #000;
}

.search-button {
  background-color: #01257d;
  border: none;
  color: white;
  font-weight: 600;
  width: 100%;
  border-radius: 10px;
  padding: 10px 0;
  font-size: 16px;
  transition: 0.3s ease;
}

.search-button:hover {
  background-color: #001c5a;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 255, 255, 0.4);
}
