.blog-redesign-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  margin-top: 7rem;
  text-align: left;
}

.top-section {
  margin-bottom: 40px;
}

.blog-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.blog-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.author-info {
  display: flex;
  align-items: center;
}

.author-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.author-name {
  font-weight: 500;
}

.main-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.second-section {
  margin-top: 40px;
}

.blog-body {
  font-size: 1rem;
  line-height: 1.6;
}

.comparison-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.comparison-table th,
.comparison-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.comparison-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.carousel-heading {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.product-carousel .carousel-item {
  text-align: center;
}

.carousel-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: auto;
}

.carousel-title {
  margin-top: 10px;
  font-size: 0.9rem;
}

.side-banner-container {
  position: sticky;
  top: 100px;
  display: inline-block;
  width: 100%;
  max-height: auto;
  margin-bottom: 20px;
}
.side-banner {
  width: 100%;
  position: sticky;
  height: auto;
  max-height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.get-quote-button {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #01257d;
  color: white;
  font-weight: bold;
  border: none;
  text-decoration: none;
  transition: background-color 0.3s ease;
  text-align: center;
}

.get-quote-button:hover {
  background-color: #00ffff;
  color: white !important;
}
